#productDetails {
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}
#productDetailsCount {
  color: #009aff;
  font-weight: bold;
  margin: 0px;
}
#processDetails {
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  background: #d0ebff;
}
