#table {
  border: 1px solid #dadada;
  background: white;
  border-radius: 10px;
  text-align: center;
  min-height: 60vh;
}
#product {
  padding: 20px;
  font-weight: bold;
  cursor: pointer;
  /* margin-bottom: 20px; */
  /* border-radius: 20px; */
  border: 1px solid #dadada;
}
.selected {
  background: #d0ebff;
  border: 0.5px solid #009aff !important;
  border-right: 2px solid #009aff !important;
}
#productId {
  color: #7d7676;
  font-size: 10px;
  margin: 0px;
}
#productDetails {
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}
#productDetailsCount {
  color: #009aff;
  font-weight: bold;
  margin: 0px;
}
.vl {
  border-left: 1px solid rgba(125, 118, 118, 0.6);
  height: auto;
  position: relative;
  /* left: 50%; */
  margin-left: 14px;
  margin-top: 10px;
}
#tooltip [class$="inner"] {
  background-color: background-color;
  border: 1px solid background-color;
}

#tooltip [class$="arrow"] {
  border-top: 5px solid background-color !important;
}
