#canvas {
  overflow-y: auto;
  height: 72.25vh;
}
#sector {
  margin-bottom: 20px;
}
#image {
  text-align: center;
  margin-top: 200px;
}
#sector #header {
  border-top: 1px solid #dadada;
  background: #d0ebff59;
  padding: 10px;
}
#sector #sectorNo {
  background: #009aff;
  width: 100px;
  color: white;
  border-radius: 10px;
  padding: 1px;
  text-align: center;
}
#sector #heading {
  font-weight: bold;
  margin-top: 10px;
}
#sector #body {
  background: #e5e5e5;
  padding: 10px;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}
