#fieldProperties {
  border: 1px solid #dadada;
  border-radius: 5px;
  padding: 20px;
}
#otherPropertiesContainer {
  background: #f5f5f5;
  border: 1px solid #dadada;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
}
