.people-table {
    /* padding-right: 28px; */
    text-align: center;
    font-size: 14px;
}

.people-table table {
    background: #ffffff;
    border-radius: 11px;
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid #DADADA; */
}

.people-table table th {
    /* padding: 22px 0; */
    border-bottom: 1px solid #DADADA;
    font-weight: 400;
    color: #7D7676;
    height: 62px;
}

.people-table table td {
    height: 62px;
    border-bottom: 1px solid #DADADA;
}
