#button {
  background: linear-gradient(
      90deg,
      rgba(0, 198, 251, 0.9) 0%,
      rgba(0, 91, 234, 0.9) 100%
    ),
    linear-gradient(0deg, #dadada, #dadada);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}
