#table {
  margin-top: 50px;
  text-align: center;
  background: white;
  border-radius: 10px !important;
}
#table td,
#table th {
  cursor: pointer;
  border-width: 1px;
  padding: 20px;
  border-radius: 10px !important;
}
